.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path, class: "top-items__btn" do
          = icon("far", "edit", class: "edit__btn")
        = link_to edit_user_path(current_user), class: "top-items__btn" do
          = icon("fa", "cog", class: "cog__btn")
  .side-bar__group-list
    - current_user.groups.each do |group|
      .single-group
        = link_to group_messages_path(group), class: "group__link" do
          .single-group__name
            = group.name
          .single-group__message
            = group.show_last_message